<meta name="theme-color" content="{{ $.Site.Params.themeColor }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/icons/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon_16.ico" | absURL }}">
<link rel="icon" type="image/png" sizes="24x24" href="{{ "favicon_24.ico" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon_32.ico" | absURL }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ "favicon_48.ico" | absURL }}">
<link rel="icon" type="image/png" sizes="94x94" href="{{ "favicon_64.ico" | absURL }}">
<link rel="manifest" crossorigin="use-credentials" href="{{ "site.webmanifest" | absURL }}">