.navbar {
  padding-top: 0.5rem;
  justify-content: end;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("/icons/menu_icon.svg");
}
.navbar-toggler {
  padding: 0.2rem 0.2rem;
  font-size: 1.3rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.05rem;
}
#primary-menu {
  min-width: 270px;
}
.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  background-color: transparent;
}
