#navbar {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding: 0rem;
  justify-content: end;
  align-items: flex-start;
  .navbar-toggler {
    font-size: 1.3rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    transition: box-shadow 1s ease-in-out;
    margin-bottom: -2rem;
    z-index: 2;
    .navbar-toggler-icon {
      background-image: url("/icons/menu_icon.svg");
    }
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.05rem;
  }
  #primary-menu {
    width: 100vw;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: #fffc;
    .navbar-nav {
      padding: 1rem;
      .nav-item {
        font-family: $headings-font-family;
        letter-spacing: 0.5rem;
      }
      .nav-link {
        font-weight: 400;
        padding: 1.5rem 1rem;
        border-bottom: 1px solid $light-blue;
        font-size: $font-size-md;
        letter-spacing: 0.5rem;
      }
      .nav-link:hover {
        color: $smoky-black;
        border-bottom: 1px solid $primary;
        text-shadow: 1px 1px 10px $primary, 1px 1px 10px $white;
      }
      .dropdown-menu {
        background-color: transparentize($color: $alice-blue, $amount: 0.3);
        border: none;
        .dropdown-item {
          font-family: $font-family-base;
          background-color: transparent;
          color: $independence;
          padding-left: 2rem !important;
          .active {
            color: $primary;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #navbar #primary-menu {
    height: inherit;
    width: inherit;
    background: none;
    .navbar-nav {
      padding: 0rem;

      .nav-link {
        font-size: $font-size-lg;
        letter-spacing: 0.33rem;
        border: none;
      }
      .dropdown-menu {
        border: none;
        margin-top: -2vh;
        .dropdown-item {
          background-color: transparentize($color: $alice-blue, $amount: 0.2);
        }
      }
    }
  }
}
