table {
  border-collapse: collapse;
  width: 100%;
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $green;
    color: white;
  }
  tr:hover {
    background-color: $independence;
    color: $gray-light;
    a {
      color: $gray-light;
    }
  }

  tr:nth-child(even):hover {
    background-color: $independence;
    color: $gray-light;
    a {
      color: $gray-light;
    }
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  td,
  th {
    border: 1px solid $independence;
    padding: 8px;
    a {
      display: flex;
      flex: 1 1 auto;
    }
  }
}
@include media-breakpoint-up(md) {
  table {
    td,
    th {
      padding: 1rem 2rem;
    }
  }
}
