<div id="gotoTop" ><i class="bi bi-caret-up-fill" ></i></div>


<footer class="footer bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 ">
        <p class="text-primary">{{ .Site.Params.footer | safeHTML }}</p>
        <h5  class="text-muted text-start text-white"> Wanna join? Follow us </h5>
        <ul class="nav list-unstyled d-flex fs-2">
          <li class="ms-3"><a class="text-muted text-white" href="https://links.bandhorses.com" ><i class="bi bi-link-45deg"></i></a></li>
          <li class="ms-3"><a class="text-muted text-white" href="https://twitter.com/bandhorsesNFT"  target="_blank" ><i class="bi bi-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 d-flex align-items-end justify-content-end p-3">
        <ul class="nav list-unstyled d-flex pe-3">
          <li class="m-3"><a class="text-muted text-white" href="/wagmi/social-responsibility/" >Sustainability</a></li>
          <li class="m-3"><a class="text-muted text-white" href="/utility/faq/" >FAQ</a></li>
          <li class="m-3"><a class="text-muted text-white" href="/utility/rarity/" >Traits</a></li>
        </ul>
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="/images/dark-logo-footer.webp" alt="bandhorses logo">
        </a>
      </div>
    </div>
  </div>
</footer>