<section>
   {{ range $.Site.Data.faqs.faq }}
    {{ $questionCode :=    replace (slicestr (.question | safeHTML) 3 9) " " "-" }}
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#id{{- $questionCode -}}" role="button" aria-expanded="false" aria-controls="id{{- $questionCode -}}">
            {{ .question | safeHTML }}
        </a>
    </p>
    <div class="collapse  multi-collapse" id="id{{- $questionCode -}}">
        <div class="card card-body">
            {{ .answer | safeHTML }}
        </div>
    </div>
    {{ end }} 
</section>

