<section class="section" id="traits"  >

<p>Easy sorting and filtering of elements.</p>

<nav id="filters">
  Filter by:
  <a href="javascript:;" data-filter="all">All</a> |
  <a href="javascript:;" data-filter="speed">10 Speeds</a> |
  <a href="javascript:;" data-filter="background">10 Backgrounds</a> |
  <a href="javascript:;" data-filter="favorite-drummer">66 Favorite Drummers</a> |
  <a href="javascript:;" data-filter="coat">13 Coats</a> |
  <a href="javascript:;" data-filter="neck">17 Necks</a> |
  <a href="javascript:;" data-filter="tattoo">Tattoo</a> |
  <a href="javascript:;" data-filter="nose-color">Nose Color</a> |
  <a href="javascript:;" data-filter="eyecolor">Eye Color</a>
</nav>

<div id="chessboard">

  <ul id="sortlist">

    <li id="dsortlist" data-filter="black second-line infantry-black">&#9823;</li>
    <li data-filter="black second-line infantry-black">&#9823;</li>
    <li data-filter="black second-line infantry-black">&#9823;</li>
    <li data-filter="black second-line infantry-black">&#9823;</li>
    <li data-filter="black second-line infantry-black">&#9823;</li>
    <li data-filter="black second-line infantry-black">&#9823;</li>
    <li data-filter="black second-line infantry-black">&#9823;</li>
    <li data-filter="black second-line infantry-black">&#9823;</li>

    <li data-filter="black first-line rooks-2">&#9820;</li>
    <li data-filter="black first-line infantry-black">&#9822;</li>
    <li data-filter="black first-line infantry-black">&#9821;</li>
    <li data-filter="black first-line royalty">&#9819;</li>
    <li data-filter="black first-line royalty">&#9818;</li>
    <li data-filter="black first-line infantry-black">&#9821;</li>
    <li data-filter="black first-line infantry-black">&#9822;</li>
    <li data-filter="black first-line rooks-2">&#9820;</li>

  <li>&#9814;</li>

    <li data-filter="white first-line rooks-2">&#9814;</li>
    <li data-filter="white first-line infantry-white">&#9816;</li>
    <li data-filter="white first-line infantry-white">&#9815;</li>
    <li data-filter="white first-line royalty">&#9813;</li>
    <li data-filter="white first-line royalty">&#9812;</li>
    <li data-filter="white first-line infantry-white">&#9815;</li>
    <li data-filter="white first-line infantry-white">&#9816;</li>
    <li data-filter="white first-line rooks-2">&#9814;</li>

    <li data-filter="white second-line infantry-white">&#9817;</li>
    <li data-filter="white second-line infantry-white">&#9817;</li>
    <li data-filter="white second-line infantry-white">&#9817;</li>
    <li data-filter="white second-line infantry-white">&#9817;</li>
    <li data-filter="white second-line infantry-white">&#9817;</li>
    <li data-filter="white second-line infantry-white">&#9817;</li>
    <li data-filter="white second-line infantry-white">&#9817;</li>
    <li data-filter="white second-line infantry-white">&#9817;</li>

  </ul>

</div>

</section>
