<section class="section" id="traits"  >
    <h2>TRAITS</h2>

    //TODO: https://codepen.io/joseluisq/pen/kYbMYM
    <ul id="mylist">
        <li data-filter="programing">prog</li>
        <li data-filter="programing back-end">prog ve bac</li>
        <li data-filter="programing front-end UX">prog fr u</li>
        <li data-filter="graphic-design illustration">graphic-design illustration</li>
        <li data-filter="webdesign front-end">webdesign fr</li>
        <li data-filter="graphic-design printing">graphic-design print</li>
      </ul> 
</section>
