<section class="section" id="traits"  >
<h1><i class="bi bi-arrow-repeat"></i> 4 4 4 4 grooves  + <i class="bi bi-stack"></i> 288 layers  </h1>
<div id="searches" class="container">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"><label for="drummer-choice" >Check for your favorite</label></span>
        <input class="form-control" list="drummer-list" id="drummer-choice" name="drummer-choice" placeholder="Drummer Name"  />
      </div>
      <datalist id="drummer-list">
        {{ range $key, $value := .Site.Data.favoriteDrummer }}
        <option value="{{ $value.name }}">
        {{ end }}
      </datalist>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text"><label for="drummer-choice">Check Tattoo</label></span>
        <input class="form-control" list="tattoo-list" id="tattoo-choice" name="tattoo-choice" placeholder="Brand & Musician Name"  />
      </div>
      <datalist id="tattoo-list">
        {{ range $key, $value := .Site.Data.tattoo }}
        <option value="{{ $value.name }}">
        {{ end }}
      </datalist>
    </div>
  </div>
</div>

<nav id="filters" class="nav nav-tabs">

  <div class="container">
    <div class="row py-2">
      <div class=" col">
        <a href="javascript:;" data-filter="all"><i class="bi bi-funnel-fill"></i>All</a> 
      </div>
      {{ range $key, $value := .Site.Data.traits }}
        {{ if ne $value.name "favoriteDrummer" }}
        {{  if ne $value.name "tattoo"  }}
        <div class="px-1 col">
          <a href="javascript:;" data-filter="{{- $value.name -}}">  {{ $value.quantity }} </br> {{ humanize  $value.name }}s</a>  
        </div>
        {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</nav>

<div id="trait-result">
  <ul id="sortlist">
    {{ range $key, $value := .Site.Data.background  }}
    {{- $traitName := "background" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} %</span></li>
        </ul>
      </div>   
    </div>
    {{ end }}
    
    {{ range $key, $value := .Site.Data.coat  }}
    {{- $traitName := "coat" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Data.neck  }}
    {{- $traitName := "neck" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}


    {{ range $key, $value := .Site.Data.noseColor  }}
    {{- $traitName := "noseColor" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Data.eyeColor  }}
    {{- $traitName := "eyeColor" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Data.forehead  }}
    {{- $traitName := "forehead" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Data.mane  }}
    {{- $traitName := "mane" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Data.emotion  }}
    {{- $traitName := "emotion" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Data.lensFX  }}
    {{- $traitName := "lensFX" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}


    {{ range $key, $value := .Site.Data.cartoonFX  }}
    {{- $traitName := "cartoonFX" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}{{- $value.weight -}}.jpg" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ humanize $value.name }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Data.tempo  }}
    {{- $traitName := "tempo" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <img src="/images/traits/{{- $traitName }}/{{- $value.trait -}}.png" class="card-img-top" alt="{{ humanize $value.name }}s">
      <div class="card-body">
        <p class="card-title">{{ $value.name }} BPM</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}

    {{ range $key, $value := .Site.Data.speed  }}
    {{- $traitName := "speed" }}
    <div class="card" data-filter="{{- $traitName }}" >
      <div class="card-body">
        <p class="card-title py-5 fs-4">{{ $value.name }} km/h </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary">{{ $value.quantity }} BNH</span></li>
          <li class="list-group-item"><span class="badge bg-primary">{{  $value.percentage }} % </span></li>
        </ul>
      </div>   
    </div>
    {{ end }}




  </ul>
</div>

</section>
