{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}
<header id="header" class="flicker">
  <div class="container">
      <div class="row d-lg-flex  justify-content-between">
          <div id="logo" class="col ">
            <a href="/">
                <img src="/images/logo-header.png" alt="Band Horses Logo"
                    class="d-md-block d-lg-none p-1" height="65"  />
                <img src="/images/band-horses-logo.png" alt="Band Horses Logo"
                    class="d-none d-lg-block pt-2"   />    
            </a>
          </div>
          <nav id="navbar" class="col navbar navbar-expand-lg navbar-light ">
            <button id="menuToggler" class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#primary-menu" aria-controls="primary-menu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span id="menuIkonum" class="navbar-toggler-icon"></span>
                <i id="kapatIkonum" class="bi bi-x-square "></i>
            </button>
            {{ $currentPage := . }}
            <div class="collapse navbar-collapse" id="primary-menu">
                <ul class="navbar-nav container">
                    {{ range site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown ">
                        <a class="nav-link px-4 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"> {{ .Name }} </a>
                        <div class="dropdown-menu">
                            {{ range .Children }}
                            {{- $page_url:= $currentPage.Permalink | absLangURL }}
                            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) |
                            absLangURL }}
                            {{- $sonuc := eq $menu_item_url $page_url }}
                            <a class="nav-link px-4 dropdown-item {{ if $sonuc }}active{{ end }}" title="{{ .Name}}"
                                href="{{ .URL  }}">{{
                                .Name
                                }}</a>
                            {{ end }}
                        </div>
                    </li>
                    {{ else }}
                    <li class="nav-item ">
                        {{- $page_url:= $currentPage.Permalink | absLangURL }} {{- $menu_item_url := (cond
                        (strings.HasSuffix
                        .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }} {{- $sonuc := eq $menu_item_url
                        $page_url }}
                        <a class="nav-link px-4 {{ if $sonuc }}active{{ end }} " title="{{ .Name}}" href="{{ .URL }}">{{
                            .Name }}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
          </nav>
          {{ if .Page.IsHome  }}
                <div id="hero-video" class="text-center">
                    <div class="ratio ratio-16x9 embed-responsive embed-responsive-16by9">
                            <video class="embed-responsive-item" autoplay muted loop controls>
                                <source src="/videos/band-horses-video.mp4" type="video/mp4">
                            </video>
                    </div>
                </div>
          <a href="#content" data-scrollto="#content" data-offset="0" class="mouse-icon animated bounceInDown">
              <img src="/icons/mouse.svg" alt="go down"  height="32" width="32"/></a>
        {{ end }}
      </div>
  </div>
</header>

<script>
  menuToggler.onclick = () => {
      showIcon = !showIcon
      if (showIcon === true) {
          menuIkonum.style.display = "inline-block";
          kapatIkonum.style.display = "none";
        } else {
            menuIkonum.style.display = "none";
            kapatIkonum.style.display = "inline-block";
            menuToggler.style.border = "none";
      }

  };
  let showIcon = true
  kapatIkonum.style.display = "none"
</script>
