body {
  font-size: $font-size-md;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  background-color: $snow;
}
.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-md;
  }

  .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
  }
}

@include media-breakpoint-up(lg) {
  .content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.section {
  background: $gray-200;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section p,
.section a {
  margin: 0;
  text-align: center;
}

.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.monospace {
  font-family: $font-family-code;
}
// traits

#chessboard {
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
  position: relative;
}

/* Filters */
#filters {
  text-align: center;
  color: #b0b0b0;
  font-size: 12px;
  padding: 15px 0 0 0;
}

#filters a {
  color: #2e3032;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  transition: all 0.2s ease-out;
  font-size: 11px;
}

#filters a:hover,
#filters a.active {
  color: #d37070;
}
/* Sortlist */

#sortlist {
  position: relative;
  display: block;
  padding: 0;
  margin: 1.5em auto;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#sortlist li {
  position: absolute;
  width: 90px;
  height: 90px;
  display: block;
  text-align: center;
  font-size: 3.2em;
  line-height: 1.6em;
  overflow: hidden;
  color: #868686;
  background-color: #e9e9e9;
  box-shadow: inset 0px 0px 0px 1px #cecece;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#sortlist > li:hover {
  color: #d17e7e;
}

/* Creating the chessboard */
#sortlist li:nth-child(-2n + 8),
#sortlist li:nth-child(8) ~ li:nth-child(-2n + 15),
#sortlist li:nth-child(16) ~ li:nth-child(-2n + 24),
#sortlist li:nth-child(24) ~ li:nth-child(-2n + 31),
#sortlist li:nth-child(32) ~ li:nth-child(-2n + 40),
#sortlist li:nth-child(40) ~ li:nth-child(-2n + 47),
#sortlist li:nth-child(48) ~ li:nth-child(-2n + 56),
#sortlist li:nth-child(56) ~ li:nth-child(-2n + 63) {
  background-color: white;
}

#sortlist.filtered > li {
  color: #d17e7e;
  background-color: white;
}

.link {
  font-size: 11px;
  display: block;
  padding: 2em 0;
}

.link a {
  color: #2e3032;
}

@media screen and (max-width: 480px) {
  #filters a {
    margin: 20px 5px;
  }
}
