html {
  scroll-behavior: smooth;
}
body {
  font-size: $font-size-md;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  background-color: $snow;
  line-height: $line-height-base;
}
.wrap.container {
  padding: 0;
  width: auto;
}
.content {
  padding: 0.4rem;
}
.section.container-fluid {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  text-align: center;
  letter-spacing: 0.3rem;
}
#content {
  .section {
    background: $gray-200;
    padding: 1rem 0rem;
  }
}
.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}
.monospace {
  font-family: $font-family-code;
}

.section.container-fluid {
  margin: 2rem auto;
}
.flip-image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
ul {
  list-style: none;
  li input {
    filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  }
  li input[checked] {
    filter: invert(100%) hue-rotate(36deg) brightness(2);
  }
}
a:hover {
  text-decoration: none;
}
.home .section a {
  font-size: smaller;
  padding: 1rem;
}
.art #content li {
  padding: 0.5rem;
  background-color: $alice-blue;
  margin: 1rem;
}
.tour-dates {
  background-image: url("/images/tickets.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  #content {
    background-color: #fff9;
  }
}
.utility {
  background-image: url("/images/concretebg.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  #content {
    background-color: #fffc;
  }
}
.wagmi {
  background-image: url("/images/sandbg.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  #content {
    background-color: #fffc;
  }
}
.timeline {
  position: relative;
  width: 100%;
  margin: 1rem auto;
  padding: 15px 0;
  overflow: clip;
  .cntnr::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: $primary;
    z-index: 1;
  }
  .cntnr.right::after {
    left: -8px;
  }
  .cntnr::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: $alice-blue;
    border: 2px solid $primary;
    border-radius: 16px;
    z-index: 1;
  }
  .cntnr.right::before {
    left: 8px;
  }
  .cntnr.right {
    left: 50%;
  }
  .cntnr.left {
    left: 0;
  }
  .cntnr {
    padding: 0.5rem;
    position: relative;
    background: inherit;
    width: 50%;
  }
  .cntnr.right .date {
    left: -7rem;
  }
  .cntnr.left .date {
    right: -7rem;
  }
  .cntnr .date {
    line-height: 1;
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: $font-size-md;
    font-weight: bold;
    color: $secondary;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  .cntnr .bi {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    background: $snow;
    border: 2px solid $secondary;
    border-radius: 40px;
    text-align: center;
    font-size: $font-size-md;
    color: $secondary;
    z-index: 1;
  }
  .cntnr.right .bi {
    left: 1rem;
  }
  .cntnr .cntnt {
    text-align: left;
    background: $alice-blue;
    position: relative;
    border-radius: 50px 500px 500px 50px;
    padding: 0.2rem 2.5rem 0.3rem 0.3rem;
    h2 {
      margin: 0;
      line-height: 1;
      color: $independence;
      font-size: smaller;
    }
    p {
      margin: 0rem;
      padding: 0rem;
      font-size: $font-size-sm;
      line-height: 22px;
      color: $smoky-black;
      display: flex;
      flex: 1 1 auto;
      a {
        font-size: $font-size-sm;
        display: flex;
        flex: 1 1 auto;
        padding: 0.1rem;
      }
    }
    .row .col p:last-child {
      padding-bottom: 0;
    }
  }
  .cntnr.left .bi {
    right: 1rem;
    padding: 0rem 0.45rem;
  }
  .cntnr.right .cntnt {
    padding: 0rem 0rem 0rem 3rem;
    border-radius: 500px 50px 50px 500px;
  }
}
.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: $primary;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-lg;
  }
  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 24px);
    padding-left: var(--bs-gutter-x, 24px);
    margin-right: auto;
    margin-left: auto;
  }
  #content {
    .section {
      background: $gray-200;
      padding: $font-size-md $font-size-sm;
    }
  }
  .content {
    padding-top: 2rem 0.33rem;
    .timeline {
      overflow: visible;
      .cntnr {
        padding: 15px 30px;
        position: relative;
        background: inherit;
        width: 50%;
      }
      .cntnr .cntnt {
        h2 {
          margin: 0rem;
        }
        p {
          margin: -5px;
        }
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
  }
  .section.container-fluid {
    overflow: visible;
  }
}
@include media-breakpoint-up(lg) {
  #content {
    .section.container-fluid {
      overflow: visible;
    }
    .section {
      background: $gray-200;
      padding: $font-size-lg $font-size-md;
    }
  }
  .content {
    padding: 3rem;
    .timeline {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: 15px 0;
      .cntnr::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        top: calc(50% - 1px);
        right: 8px;
        background: $primary;
        z-index: 1;
      }
      .cntnr.right::after {
        left: -8px;
      }
      .cntnr::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        right: -8px;
        background: $alice-blue;
        border: 2px solid $primary;
        border-radius: 16px;
        z-index: 1;
      }
      .cntnr.right::before {
        left: 8px;
      }
      .cntnr.right {
        left: 50%;
      }
      .cntnr.left {
        left: 0;
      }
      .cntnr {
        padding: 15px 30px;
        position: relative;
        background: inherit;
        width: 50%;
      }
      .cntnr.right .date {
        left: -8rem;
      }
      .cntnr.left .date {
        right: -8rem;
      }
      .cntnr .date {
        line-height: 1;
        position: absolute;
        display: inline-block;
        top: calc(50% - 8px);
        text-align: center;
        font-size: $font-size-md;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        z-index: 1;
      }
      .cntnr .bi {
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
        background: $snow;
        border: 2px solid $primary;
        border-radius: 40px;
        text-align: center;
        font-size: $font-size-md;
        z-index: 1;
      }
      .cntnr.right .bi {
        left: 53px;
      }
      .cntnr .cntnt {
        text-align: left;
        padding: 1rem 4rem 1rem 1rem;
        background: $alice-blue;
        position: relative;
        border-radius: 50px 500px 500px 50px;
        h2 {
          margin: 0 0 0.5rem 3rem;
          line-height: 1;
          color: $independence;
        }
        p {
          margin: 0;
          font-size: $font-size-sm;
          line-height: 22px;
          color: $smoky-black;
          a {
            font-size: $font-size-md;
          }
        }
        .row .col p:last-child {
          padding-bottom: 0;
        }
      }
      .cntnr.left .bi {
        right: 56px;
      }
      .cntnr.right .cntnt {
        padding: 20px 20px 20px 90px;
        border-radius: 500px 50px 50px 500px;
      }
    }
    .timeline::after {
      content: "";
      position: absolute;
      width: 2px;
      background: $primary;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -1px;
    }
  }
}
