html {
  scroll-behavior: smooth;
}
body {
  font-size: $font-size-md;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  background-color: $snow;
  line-height: $line-height-base;
}
.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  text-align: center;
  letter-spacing: 0.3rem;
}
#content {
  .section {
    background: $gray-200;
    padding-top: 1rem 0rem;
  }
}
.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}
.monospace {
  font-family: $font-family-code;
}

.section.container-fluid {
  margin: 2rem auto;
}
.flip-image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
ul {
  list-style: none;
  li input {
    filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  }
  li input[checked] {
    filter: invert(100%) hue-rotate(36deg) brightness(2);
  }
}
a:hover {
  text-decoration: none;
}
.home .section a {
  font-size: smaller;
  padding: 1rem;
}
.art #content li {
  padding: 0.5rem;
  background-color: $alice-blue;
  margin: 1rem;
}
.tour-dates {
  background-image: url("/images/tickets.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  #content {
    background-color: #fffb;
  }
}
.utility {
  background-image: url("/images/concretebg.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  #content {
    background-color: #fffc;
  }
}
.wagmi {
  background-image: url("/images/sandbg.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  #content {
    background-color: #fffc;
  }
}
@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-lg;
  }
  .content {
    padding-top: 2rem 0rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
  }
}
@include media-breakpoint-up(lg) {
  .content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
